<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Выбор темы</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="scene">
    <div class="block">
      <div class="card">
        <h2>🧠 Выберите тему для вопросов</h2>
        <form method="post" action="/">
            <div class="input-class">
              <input type="text" name="topic" placeholder="например: технологии" required><br><br>              
            </div>
            <button class="btn" type="submit">Начать</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  </html>
            
            
            
